@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
  background-color: #edf2f7;
  font-family: "Montserrat", sans-serif;
  color: #393e46;
}
