@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

body {
  margin: 0;
  background-color: #edf2f7;
  font-family: "Montserrat", sans-serif;
  color: #393e46;
}

.item-container:last-child {
  border: none;
  padding-bottom: 0;
}

.progress-1 {
  width: 12.5%;
}
.progress-2 {
  width: 25%;
}
.progress-3 {
  width: 37.5%;
}
.progress-4 {
  width: 50%;
}
.progress-5 {
  width: 62.5%;
}
.progress-6 {
  width: 75%;
}
.progress-7 {
  width: 87.5%;
}
.progress-8 {
  width: 100%;
}
